/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a.active_menu_link {
  color: #005aa8;
}

a.active_menu_link:hover {
  color: #005aa8;
}

a.inactive_menu_link {
  color: #6699ff;
}

a.inactive_menu_link:hover {
  color: #005aa8;
}

a.black {
  color: #000000;
}

a.bold {
  font-weight: bold;
}

.spaced {
  padding-left: 10px;
}

.text-center {
  text-align:center;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

a:hover.button{
  color:#0066CC;
}

.custom-button-add {
  background-color:#2fd62f;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#fafafa;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px 0px 0px #70706f;
}

.custom-button-add:hover {
  background-color:#009900;
}

.custom-button-add:active {
  position:relative;
  top:1px;
}

.button-link {
  padding: 10px 15px;
  background: #4479BA;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.button-link:hover {
  background: #356094;
  color: #ffffff;
  border: solid 1px #2A4E77;
  text-decoration: none;
}

.button-link:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

.custom-table {
  margin:0px;
  padding:0px;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #5656ff;
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.custom-table.large {
  width:70%;
}

.custom-table.medium {
  width:50%;
}

.custom-table.small {
  width:25%;
}

.custom-table table{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  text-align: center;
  vertical-align: middle;
}

.custom-table tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}

.custom-table table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.custom-table table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}

.custom-table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}

.custom-table tr:nth-child(odd) {
  background-color:#ccffff;
}

.custom-table tr:nth-child(even) {
  background-color:#ccccff;
}

.custom-table tr:hover {
  background-color:#ffffff;
}

.custom-table td{
  vertical-align:middle;
  border:1px solid #5656ff;
  border-width:0px 1px 1px 0px;
  text-align:center;
  padding:12px;
  font-size:12px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}

.custom-table tr:last-child td {
  border-width:0px 1px 0px 0px;
}

.custom-table tr td:last-child {
  border-width:0px 0px 1px 0px;
}

.custom-table tr:last-child td:last-child {
  border-width:0px 0px 0px 0px;
}

.custom-table tr:first-child td {
  background:-o-linear-gradient(bottom, #56aaff 5%, #007fff 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #007fff) );
  background:-moz-linear-gradient( center top, #56aaff 5%, #007fff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#007fff");
  background: -o-linear-gradient(top,#56aaff,007fff);
  background-color:#56aaff;
  border:0px solid #5656ff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:15px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}

.custom-table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}

.custom-table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.welcome{
    padding:11px;
}

.primeirarow{
    height: 10em;
}
.segundarow{
    height: 100%;
}