/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.input:hover {
  background: #ffff99;
}

a.active_menu_link {
  color: #005aa8;
}

a.active_menu_link:hover {
  color: #005aa8;
}

a.inactive_menu_link {
  color: #6699ff;
}

a.inactive_menu_link:hover {
  color: #005aa8;
}

a.black {
  color: #000000;
}

a.bold {
  font-weight: bold;
}

.spaced {
  padding-left: 10px;
}

.text-center {
  text-align:center;
}

.center {
  margin-left:auto;
  margin-right:auto;
}