<% if current_user %>
  <% if Host.count > 0 %>
    <% for host in Host.all(:order => "name ASC") %>
      <li>
        <a href="<%= host_path(host) %>" class="menu_link <%=h active_link_class(host) %>">
          <%=h host.name %>
        </a>
      </li>
    <% end %>
  <% else %>
    <li>
      No host created yet<br />
    </li>
  <% end %>
  <% if current_user.admin? -%>
    <br/>
    <%= link_to 'New host', new_host_path%>
  <%end -%>
<% end %>