<div class="span6">
  <div class="well sidebar-nav">
    <div class="primeirarow">
      <ul class="nav nav-list">
        <li class="nav-header"><%= title %></li>
        <%= yield %>
      </ul>
    </div>
  </div>
</div>
