<% if current_user %>
  <% if Recipe.count > 0 %>
    <% for recipe in Recipe.all(:order => "name ASC") %>
      <div class="menu_link_title has_submenu">
        <a href="<%= recipe_path(recipe) %>" class="menu_link <%=h active_link_class(recipe) %>">
          <%=h recipe.name %>
        </a>
      </div>
    <% end %>
  <% else %>
    <li>
      No recipe created yet<br/>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <br/>
    <%= link_to 'New recipe', new_recipe_path%>
  <%end %>
<% end %>